
*{
    padding: 0;
    margin: 0;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(23, 34, 184, 0.911);
}

h1{
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
}

form.main{
    width: 40%;
    position: relative;
    border: 2px solid skyblue;
    border-radius: 20px;
    margin: 0 auto 0 auto;

}

.main h2{
    background-color: skyblue;
    width: 120px;

    position: absolute;
    top: -5px;
    left: 35%;
    padding: 8px;
    border-radius: 0 0 4px 4px ;
}

.main:hover > h2,  .main:hover{
    box-shadow: 0 0 10px skyblue;
}

.user{
    margin: 50px auto 20px auto;
    border: 1px solid rgb(0, 0, 0);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: relative;
}

.user:hover{
    box-shadow: 0 0 10px skyblue;

}

.user i{
    font-size: 50px;
    position: absolute;
    top: 25%;
    left:30%;
    color: rgb(0, 0, 0);

}

.feild{
    width: 80%;
    height: 20px;
    margin: 0 auto 20px auto;
    border-bottom: 2px solid black;
    padding:10px  4px;
    position: relative;

}

.feild i{
    padding: 4px 10px;
    position: absolute;
    top: 10px;
    left: 8px;
    border-right: 2px solid rgb(58, 58, 58);
   
}

.feild input{
    position: absolute;
    width: 80%;
    top: 10px;
    left: 60px;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
}

.feild label{
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 18px;
    pointer-events: none;
    background-color: transparent;
}


.feild input:focus ~ label,
.feild input:valid ~ label{
    display: none;
    
}

.feild input:valid ~ .feild{
    box-shadow:0 0 5px blue, 0 0 8px skyblue;

}

.content{
    width: 100%;
    height: 10vh;
    position: relative;
}

.remainder{
    text-align: left;
    margin-left: 50px;
    position: absolute;
    top: 5px ;
    left: -10px;
}

.forget{
    text-align: end;
    margin-right: 50px;
    position: absolute;
    top: 5px ;
    right: -10px;
}

button{
    width: 90%;
    height: 40px;
    background-color: blue;
    border: none;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 20px;
}

button:hover{
    box-shadow:0 0 5px blue, 0 0 8px skyblue;
}

input [type="checkbox"]{
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }





